In this notebook, Data Science Tools and Ecosystem are summarized.

# Data Science Tools and Ecosystem

**Objectives:**
-  List popular languages for Data Science
-  List popular library for Data Science
-  Data Science Tools
-  Examples of Evaluating Arithmetic Expressions
-  Notebook Editing Practice

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. MatPlotLib
4. ggplot2

| Data Science Tools |
| --- |
| RStudio |
| Microsoft Visual Studio |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
(3*4)+5

17

In [7]:
200/60 
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Jorge